In [40]:
# Q1. 데이터를 로딩해보세요 ^^
# chipotle.tsv
# 확장자가 csv가 아닌점에 유의하세요


import pandas as pd
chipo_df = pd.read_csv('./data/chipotle.tsv', sep='\t')
chipo_df.head(2)

# csv Comma Seperate Value
# tsv Tab Seperate Value

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [41]:
# Q2. quantity의 컬럼값이 3인 데이터를 추출해보세요.
# 그리고 그 데이터의 첫 5행만 가져와보세요 (head를 쓰세요)

In [48]:
chipo_df[chipo_df['quantity']==3].head(5)

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

In [7]:
# Q3. Q2번에서 가져온 데이터의 index를 재정의 해보세요.
# reset_index를 활용

In [53]:
chipo_df[chipo_df['quantity']==3].reset_index()

,index,order_id,quantity,item_name,choice_description,item_price
0,409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,689,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,818,338,3,Bottled Water,NaN,$3.27
4,850,350,3,Canned Soft Drink,[Sprite],$3.75
5,917,379,3,Canned Soft Drink,[Lemonade],$3.75
6,1255,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$27.75
7,1514,616,3,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$26.25
8,1559,633,3,Canned Soft Drink,[Coke],$3.75
9,2645,1051,3,Chips and Guacamole,NaN,$13.35
10,2823,1121,3,Bottled Water,NaN,$3.27
11,2936,1167,3,Chips,NaN,$6.45
12,2944,1170,3,Side of Chips,NaN,$5.07
13,2972,1182,3,Chips and Tomatillo-Red Chili Salsa,NaN,$7.17
14,3089,1231,3,Canned Soft Drink,[Diet Coke],$3.75
15,3128,1247,3,Canned Soft Drink,[Diet Coke],$3.75
16,3270,1309,3,Chips and Tomatillo-Red Chili Salsa,NaN,$7.17
17,3294,1321,3,Bottled Water,NaN,$4.50
18,3314,1328,3,Bottled Water,NaN,$4.50
19,3334,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",$26.07
20,3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25
21,3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75
22,3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$27.75
23,3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],$26.25
24,3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",$26.25
25,4098,1642,3,Canned Soft Drink,[Diet Coke],$3.75
26,4137,1655,3,Bottled Water,NaN,$4.50
27,4186,1671,3,Bottled Water,NaN,$4.50

In [8]:
#Q4. quantity, item_name 두 개의 컬럼으로 구성된 새로운 df를 정의해주세요 ^^

In [56]:
answer_q4= chipo_df[['quantity','item_name']]
print(answer_q4)

      quantity                              item_name
0            1           Chips and Fresh Tomato Salsa
1            1                                   Izze
2            1                       Nantucket Nectar
3            1  Chips and Tomatillo-Green Chili Salsa
4            2                           Chicken Bowl
...        ...                                    ...
4617         1                          Steak Burrito
4618         1                          Steak Burrito
4619         1                     Chicken Salad Bowl
4620         1                     Chicken Salad Bowl
4621         1                     Chicken Salad Bowl

[4622 rows x 2 columns]

난이도 상


Q5. item_price값에서 달러표시를 제거하고, float64로 데이터를 바꾸어
new_price라고 하는 컬럼값에 넣어서
chipo_df를 재정의 해보세요.

In [71]:
chipo_df['new_price'] = chipo_df.item_price.str[1:].astype('float64')
chipo_df.head(5)
chipo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   new_price           4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

In [12]:
# Q6. new_price 컬럼이 5이하의 값을 갖는 df를 추출하고 
# 전체 obs 개수를 구해보세요

In [77]:
chipo_df[chipo_df.new_price<=5].shape[0]

1652

In [78]:
# Q7. item_name 명이 Chicken Salad Bowl 인 df를 추출하고
# index를 재정의해보세요 :: reset_index

In [83]:
chipo_df[chipo_df.item_name=='Chicken Salad Bowl'].reset_index()

,index,order_id,quantity,item_name,choice_description,item_price,new_price
0,44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
1,135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50,22.50
2,213,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50,22.50
3,256,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
4,315,137,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$17.50,17.50
...,...,...,...,...,...,...,...
105,4561,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50,17.50
106,4580,1822,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$11.25,11.25
107,4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
108,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
109,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [16]:
# Q8. new_price 값이 9이하이고 item_name값이 Chicken Salad Bowl인 df
# 를 추출해보세요.

In [86]:
chipo_df[(chipo_df.new_price<=9)&(chipo_df.item_name=='Chicken Salad Bowl')]

,order_id,quantity,item_name,choice_description,item_price,new_price
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
256,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
526,220,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
528,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
529,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
568,234,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$8.75,8.75
585,240,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$8.75,8.75
693,286,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Sour Cream, Cheese, Lett...",$8.75,8.75
702,289,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$8.75,8.75
762,314,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
1109,458,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
1460,592,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",$8.75,8.75
1471,598,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
1483,602,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
1547,628,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
1601,649,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
1621,654,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
1756,709,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$8.75,8.75
1977,798,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$8.75,8.75
2031,818,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75
2113,850,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$8.75,8.75
2224,896,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Sour Cream,...",$8.75,8.75
2314,926,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream]]",$8.75,8.75
2728,1083,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75
2858,1136,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
2883,1145,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
2897,1152,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, Cheese]",$8.75,8.75
2989,1189,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
3033,1206,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",$8.75,8.75
3069,1222,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$8.75,8.75
3117,1243,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75,8.75
3259,1305,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
3261,1305,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
3310,1327,1,Chicken Salad Bowl,[Fresh Tomato Salsa],$8.75,8.75
3315,1329,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce]]",$8.75,8.75
3381,1357,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",$8.75,8.75
3411,1368,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Lettuce]]",$8.75,8.75
3623,1450,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75,8.75
3656,1461,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
3706,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Chees...",$8.75,8.75
3712,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",$8.75,8.75
3790,1517,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
3798,1521,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
3974,1592,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Lettu...",$8.75,8.75
3997,1601,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
4012,1606,1,Chicken Salad Bowl,[Fresh Tomato Salsa],$8.75,8.75
4035,1615,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
4064,1627,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75
4205,1679,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",$8.75,8.75
4207,1679,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
4333,1730,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Cheese]]",$8.75,8.75
4352,1738,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$8.75,8.75
4439,1769,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75
4520,1797,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",$8.75,8.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [17]:
# Q9. chipo_df의 new_price 컬럼 값을 오름차순 :: 기억하자 ascending!!!
# 으로 정렬하고 index를 재정의해보세요.

In [38]:
# 난이도 중상
# Q10. chipo_df의 item_name 컬럼 값 중에서 Chips를 포함하는 
# 전체 경우의 데이터를 출력해보세요.

chipo_df[chipo_df.item_name.str.contains('Chips')]['item_name'].value_counts()

Chips and Guacamole                      479
Chips                                    211
Chips and Fresh Tomato Salsa             110
Side of Chips                            101
Chips and Tomatillo Red Chili Salsa       48
Chips and Tomatillo Green Chili Salsa     43
Chips and Tomatillo-Green Chili Salsa     31
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Chips and Roasted Chili-Corn Salsa        18
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

In [20]:
chipo_df.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [ ]:
# Q11. chipo_df의 new_price 컬럼값에 따라 내림차순으로 정리하고
# index를 재정의 해보세요

In [93]:
answer_q11 = chipo_df.sort_values(by='new_price', ascending=False).reset_index()
print(answer_q11)

      index  order_id  quantity                     item_name  \
0      3598      1443        15  Chips and Fresh Tomato Salsa
1      3480      1398         3                 Carnitas Bowl
2      1254       511         4               Chicken Burrito
3      3602      1443         4               Chicken Burrito
4      3601      1443         3                Veggie Burrito
...     ...       ...       ...                           ...
4617   3936      1578         1                   Canned Soda
4618   2922      1162         1                 Bottled Water
4619   1396       567         1                   Canned Soda
4620   2562      1014         1                   Canned Soda
4621   1457       591         1                   Canned Soda

                                     choice_description item_price  new_price
0                                                   NaN    $44.25       44.25
1     [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $35.25       35.25
2     [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $35.00       35.00
3     [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $35.00       35.00
4     [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $33.75       33.75
...                                                 ...        ...        ...
4617                                  [Diet Dr. Pepper]     $1.09        1.09
4618                                                NaN     $1.09        1.09
4619                                        [Coca Cola]     $1.09        1.09
4620                                        [Coca Cola]     $1.09        1.09
4621                                           [Sprite]     $1.09        1.09

[4622 rows x 7 columns]

In [ ]:
# Q12. chipo_df의 item_name의 column 값이 Steak Salad  또는 Burrito인
# 데이터를 인덱싱해보세요.

In [101]:
chipo_df[(chipo_df.item_name=='Steak Salad')|(chipo_df.item_name=='Burrito')]

,order_id,quantity,item_name,choice_description,item_price,new_price
510,214,1,Burrito,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",$7.40,7.40
511,214,1,Burrito,"[Braised Barbacoa, Vegetarian Black Beans, [So...",$7.40,7.40
519,217,1,Burrito,"[Braised Barbacoa, Pinto Beans, [Sour Cream, S...",$7.40,7.40
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
675,279,1,Burrito,"[Adobo-Marinated and Grilled Chicken, [Sour Cr...",$7.40,7.40
752,311,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
759,313,1,Burrito,"[White Rice, Adobo-Marinated and Grilled Steak...",$7.40,7.40
760,313,1,Burrito,"[White Rice, Adobo-Marinated and Grilled Steak...",$7.40,7.40
893,369,1,Steak Salad,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$8.99,8.99
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69

In [22]:
# Q13. chipo_df의 new_price에서 평균값 이상의 데이터들만 인덱싱해보세요

In [106]:
import numpy as np

cond = chipo_df.new_price>=np.mean(chipo_df.new_price)
chipo_df[cond]

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [103]:
chipo_df[chipo_df.new_price>=chipo_df.new_price.mean()]

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [23]:
# Q14. chipo_df에서 결측치를 확인해보세요.
# hint: isna().sum()

In [108]:
chipo_df.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
new_price                0
dtype: int64

In [24]:
# Q15. 결측치가 있다면 결측치 값을 'N'으로 대체해보세요
# inplace = True , fillna를 써주시면

In [111]:
# 풀이법-1
chipo_df.choice_description.fillna('N', inplace=True)
chipo_df.isna().sum()

order_id              0
quantity              0
item_name             0
choice_description    0
item_price            0
new_price             0
dtype: int64

In [113]:
# 풀이법 - 2
# reassignment :: 재할당
chipo_df['choice_description'] = chipo_df.choice_description.fillna('N')

In [25]:
# Q16. chipo_df choice_description의 값에 Black이 들어가는 경우를
# 인덱싱해보세요.

In [120]:
chipo_df[chipo_df.choice_description.str.contains('Black')].choice_description.value_counts()

[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                       42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                            40
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                                                33
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]                                                                            28
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Lettuce]]                                                                   25
                                                                                                                             ..
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream]]     1
[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Guacamole, Lettuce]]                                                    1
[Tomatillo-Green Chili Salsa (Medium), [Black Beans, Rice, Cheese, Sour Cream]]                                               1
[Fresh Tomato Salsa, [Black Beans, Cheese, Lettuce]]                                                                          1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                              1
Name: choice_description, Length: 459, dtype: int64

In [26]:
# end of file